$color-fontGrey: #5f6368; //links
$color-fontLightGrey: #6e6e6e; //logo
$color-fontDarkGrey: #323232;
$color-inputBorder: #AAAAAA;
$color-bg: #0e8ede; //bg-main
$color-btn: #df9f1f;
$color-form: #58bbe2;
$color-gradient: linear-gradient(to right, #FF5858 50%, #CC2E5D);
$color-active: #64b5f6;
$color-sidenav: #00163b;
$color-project: #FF5858;
$color-play: #148c1e;
$color-play-hover: #1AAA26;
$color-pause: #5A5E5A;
$color-pause-hover: #8C8A8A;
$color-stop: #CD2D2D;
$color-stop-hover: #F74747;
$color-label: #FF5858;
$color-screen: #f0f0ef;
$shadow-cards: 1px 2px 8px 0px rgba(0,0,0,0.3), -2px -1px 10px 0px rgba(0,0,0,0.15);
$shadow-headers: 1px 1px 8px 0px rgba(0,0,0,0.2), -1px -1px 10px 0px rgba(0,0,0,0.1);