.welcome {
    width: 50%;
    .welcome__title {
        font-size: 5rem;
    }
    .welcome__subtitle {
        font-size: 3rem;
    }
    .welcome__dscr {
        font-size: 2.5rem;
        width: 100%;
    }
    .btn__signup {
        font-size: 2.5rem;
    }
}
