.main {
    position: relative;
    background: url('../../../assets/bg-vector.png') no-repeat, $color-bg;
    background-position: bottom right;
    background-size: contain;
    height: calc(100vh - 5rem);
    z-index: 99;
}

.welcome {
    width: 100%;
    position: absolute;
    padding: 5%;
    color: #fff;
    top: 0;
    .welcome__title, .welcome__subtitle {
        font-size: 5.5rem;
        @include fluid-font(22px, 55px);
        font-weight: 800;
        letter-spacing: 0.2rem;
        line-height: 1.3;
    }
    .welcome__subtitle {
        @include fluid-font(18px, 40px);
        font-weight: normal;
    }
    .welcome__dscr {
        @include fluid-font(16px, 25px);
        padding: 3rem 0 4rem 0;
        text-align: justify;
        line-height: 1.4;
    }
    .btn__signup {
        @include fluid-font(16px, 28px);
        color: #fff;
        background-color: $color-btn;
        font-weight: bold;
        padding: 1.5rem 3.5rem;
        border-radius: 40px;
        overflow: hidden;
        position: relative;
        z-index: 0;
        span {
            position: relative;
            z-index: 2;
        }
        &:before {
            content: '';
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            bottom: -11px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient(to right, #FF5858 50%, #CC2E5D);
            transition: transform .3s ease-in-out;
            z-index: 1;
        }
        &:hover:before {
            transform: scale(4000%);
        }
    }
  
}
